dn: dc=rat,dc=local
objectClass: dcObject
objectClass: organization
dc: rat
o: Research & Study platform

dn: cn=Manager,dc=rat,dc=local
objectClass: organizationalRole
cn: Manager
description: Directory Administrator & Manager

dn: ou=Employee,dc=rat,dc=local
objectClass: organizationalUnit
ou: Employee

dn: ou=Customer,dc=rat,dc=local
objectClass: organizationalUnit
ou: Customer


